body {
    display: grid;

    grid: repeat(5, 1fr) / repeat(5, 1fr);
}

.sidebar {
    background-color: aqua;
    grid-area: 1 / 1 / 6 / 2;
}

.header {
    background-color: yellow;
    grid-area: 1 / 2 / 2 / 6;
}

.content {
    background-color: gray;
    grid-area: 2 / 2 / 6 / 6;
}