body {
    display: grid;
    margin: 0;
    height: 100vh;
    grid: 1fr 5fr / 1fr 4fr;
}

.sidebar {
    background-color: aqua;
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar-section {
    display: grid;
    grid: 1fr / 1fr 1fr;
    margin-bottom: 2rem;
}

.sidebar-section > * {
    border: 1px solid black;
}

.header {
    background-color: yellow;
    grid-area: 1 / 2 / 2 / 3;
}

.header-section {
    display: grid;
    grid: 1fr / repeat(7, 1fr);
    border: 1px solid black;
}

.header-section > #search-bar {
    grid-area: 1 / 2 / 2 / 5
}

.header-section > #new-button {
    grid-area: 1 / 5 / 2 / 6
}

.header-section > #upload-button {
    grid-area: 1 / 6 / 2 / 7
}

.header-section > #share-button {
    grid-area: 1 / 7 / 2 / 8
}

.content {
    background-color: gray;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid: 1rem repeat(2, 1fr) / 3fr 1fr;
    gap: 1rem;
}

.project-container {
    grid-area: 2 / 1 / 4 / 2;
    background-color: lightcoral;
}

.notifications-container {
    grid-area: 2 / 2 / 4 / 3;
    background-color: lightgreen;
    display: grid;
    gap: 1rem;;
}

.announcements-container {
    display: grid;
}

.trending-container {
    display: grid;
}