@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-class {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    display: grid;
    margin: 0;
    height: 100vh;
    grid: 1fr 5fr / 1fr 4fr;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    background-color: #1992d4;
    grid-area: 1 / 1 / 3 / 2;
    padding: 1rem;
}

.sidebar-section {
    display: grid;
    grid: 1fr / 1fr 2fr;
    margin-bottom: 2rem;
    gap: 0.5rem;
}

.sidebar-section > svg {
    fill: white;
    place-self: center;
}

.sidebar-section > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    place-self: center start;
}

.sidebar-section > #dashboard-link {
    font-size: 1.2rem;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    padding: 1rem 2rem;
}

.header-section {
    display: grid;
    grid: 1fr / 1fr repeat(3, 2fr) repeat(3, 1fr);
    place-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.header-section > button {
    all: unset;
    cursor: pointer;
}

.header-section > #search-bar {
    grid-area: 1 / 2 / 2 / 5;
    height: 1.2rem;
    place-self: center stretch;
    border: none;
    border-radius: 0.75rem;
    background-color: lightgray;
    padding-left: 0.5rem;
}

.header-section > a {
    text-decoration: none;
    font-weight: bold;
    width: max-content;
}

.header-section > #new-button {
    grid-area: 1 / 5 / 2 / 6;
}

.header-section > #upload-button {
    grid-area: 1 / 6 / 2 / 7;
}

.header-section > #share-button {
    grid-area: 1 / 7 / 2 / 8;
}

.header-section > .action-button {
    background-color: #1992d4;
    color: white;
    width: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.profile-thumbnail {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    place-self: center;
}

.profile-picture {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    place-self: center;
}

#greeting {
    place-self: center stretch;
    font-size: 0.9rem;
    grid-column: span 2;
}

.content {
    background-color: gray;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid: 1rem 1fr 1rem 1fr / 3fr 1fr;
    gap: .5rem 1rem;
    padding: 1rem 1rem 3rem;
}

.project-container {
    grid-area: 2 / 1 / 5 / 2;
    background-color: lightcoral;
    display: grid;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1rem;
}

.project {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
}

.project > h5 {
    margin: 0;
}

.project > p {
    font-size: 0.8rem;
    color: rgb(92, 92, 92);
    margin: 0 0 0.5rem;
}

.announcements-container {
    display: grid;
    background-color: lightgreen;
    margin-bottom: 0.5rem;
}

.trending-container {
    display: grid;
    background-color: lightblue;
}