body {
    display: grid;
    margin: 0;
    height: 100vh;
    grid: 1fr 5fr / 1fr 4fr;
}

.sidebar {
    background-color: aqua;
    grid-area: 1 / 1 / 3 / 2;
}

.header {
    background-color: yellow;
    grid-area: 1 / 2 / 2 / 3;
}

.content {
    background-color: gray;
    grid-area: 2 / 2 / 3 / 3;
}